{
  "require": [
    "ts-node/register"
  ],
  "extension": [
    ".ts"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "sourceMap": true,
  "instrument": true,
  "exclude": [
    "src/**/*.spec.*"
  ]
}
